* {
	box-sizing: border-box;
}

.brand-header {
	grid-area: brand-header;
	text-align: center;
	margin: 30px;
	font-weight: normal;
	font-family: "Impact";
	font-size: 30px;
}

.nav-links {
	grid-area: nav-header;
	border: 3px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 30px;
}

.section-link {
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-family: "Arial";
	color: rgb(96, 143, 114);
}

.story-1 {
	grid-area: top-left;
}

.story-2 {
	grid-area: top-middle;
}

.story-3 {
	grid-area: top-right;
}

.story-4 {
	grid-area: bottom-left;
}

.story-5 {
	grid-area: bottom-double;
}

.article-img {
	display: block;
	margin: 0 auto;
	max-height: 250px;
}

.page {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"brand-header brand-header  brand-header"
		"nav-header   nav-header    nav-header"
		"top-left     top-middle    top-right "
		"bottom-left  bottom-double bottom-double";
}
